/*body {background-color: red !important; }*/
#banner_container {display: none !important; }
#hoverlinks {display: none !important; }

[data-model="ukmet"]{display: none !important;}
[data-model="mpas_nssl_hn"]{display: none !important;}
[data-model="mpas_nssl_ht"]{display: none !important;}
[data-model="mpas_nssl_rt"]{display: none !important;}
[data-model="hrdps"]{display: none !important;}
[data-model="cmceens"]{display: none !important;}